<div class="bg-white lg:p-[2rem] rounded-lg text-[#667085] lg:shadow-lg">
  <h1
    class="font-semibold text-2xl lg:text-4xl text-[#0C6FCA] text-center lg:text-left mt-[2rem]"
  >
    Shipping Configuration
  </h1>
  <h1 class="py-[2rem] text-center lg:text-left">
    Configure your shipping Methods
  </h1>

  <!-- configuration head -->
  <div
    class="grid grid-cols-4 capitalize border-b border-[#E7EAEE] pb-3 text-[#64748B] font-medium"
  >
    <div>SHIPPING METHOD</div>
    <div>SHIPPING TYPE</div>
    <div>STATUS</div>
    <div>ACTION</div>
  </div>

  <!-- configuration info -->
  <div class="grid grid-cols-4 border-b border-[#E7EAEE] py-3">
    <div>DHL Express</div>
    <div>Manual</div>
    <div class="font-medium text-[#12A82A]">Enabled</div>
    <div class="" (click)="toggleDropdown()">
      <!-- SVG Icon -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        (click)="OnClick()"
      >
        <circle cx="12" cy="12" r="1" />
        <circle cx="19" cy="12" r="1" />
        <circle cx="5" cy="12" r="1" />
      </svg>

      <!-- Dropdown Menu -->
      <ul
        *ngIf="showDropdown"
        class="dropdown-menu absolute bg-white shadow-md mt-1 lg:w-[300px] z-10 p-1 rounded-xl lg:p-3"
      >
        <li>
          <a
            href="#"
            class="block px-4 py-2 hover:border-[#1889F1] border border-gray-200 rounded-lg"
            >Edit</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block px-4 py-2 hover:border-[#1889F1] border border-gray-200 rounded-lg my-2"
            >Enable</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block px-4 py-2 hover:border-[#1889F1] border border-gray-200 rounded-lg"
            >Disable</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="grid grid-cols-4 border-b border-[#E7EAEE] py-3">
    <div>DHL Express</div>
    <div>Manual</div>
    <div class="text-[#F76659] font-medium">Disabled</div>
    <div class="" (click)="toggleDropdown()">
      <!-- SVG Icon -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        (click)="OnClick()"
      >
        <circle cx="12" cy="12" r="1" />
        <circle cx="19" cy="12" r="1" />
        <circle cx="5" cy="12" r="1" />
      </svg>
    </div>
  </div>
</div>

<!-- pagination -->

<div class="text-gray-500 px-10">
  <div class="py-4 flex justify-between">
    <button
      class="flex flex-row items-center justify-end gap-3 py-1 px-2 bg-white shadow-sm border border-gray-200 rounded-lg text-black"
    >
      <!-- https://feathericons.dev/?search=arrow-left&iconset=feather -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <line x1="19" x2="5" y1="12" y2="12" />
        <polyline points="12 19 5 12 12 5" />
      </svg>

      <h1>Previous</h1>
    </button>
    <ul class="flex flex-row gap-4">
      <li class="text-blue-500">1</li>
      <li>2</li>
      <li>3</li>
      <li>...</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
    </ul>
    <button
      class="flex flex-row items-center justify-end gap-3 py-1 px-2 bg-white shadow-sm border border-gray-200 rounded-lg text-black"
    >
      <h1>Next</h1>
      <div>
        <!-- https://feathericons.dev/?search=arrow-right&iconset=feather -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <line x1="5" x2="19" y1="12" y2="12" />
          <polyline points="12 5 19 12 12 19" />
        </svg>
      </div>
    </button>
  </div>
</div>
<div class="flex justify-between items-center bg-white p-[2rem] text-gray-500">
  <div>
    <h1
      class="lg:font-semibold text-xl font-medium lg:text-4xl text-[#0C6FCA] lg:mt-[2rem] text-left"
    >
      Select a suitable shipping Method
    </h1>
    <h1 class="lg:py-[1rem] lg:text-left text-[#667085] lg:text-lg">
      Configure your shipping Methods
    </h1>
  </div>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="56"
      height="56"
      class="main-grid-item-icon"
      fill="none"
      stroke="#D0D5DD"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="1"
    >
      <polyline points="6 9 12 15 18 9" />
    </svg>
  </div>
</div>
